body{
    font-family: sans-serif;
    background: #d5f0f3;
}

h3{
    text-align: center;
    /*Ketebalan Form*/
    font-weight: 300
}

h4{
    text-align: center;
}

p{
    font-size: 12px;
}

.kotak_form{
    width: 350px;
    background: white;
    margin: 80px auto;
    padding: 30px 20px;
}

.tombol_submit{
    background: lime;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.tombol_submit:hover{
    background: #46de4b;
    cursor: pointer;
}

.link{
    color: #232323;;
    text-decoration: none;
    font-size: 10pt;
}
