body{
    font-family: sans-serif;
    background: #d5f0f3;
}

h3{
    text-align: center;
    /*Ketebalan Form*/
    font-weight: 300
}

.link{
    color: #232323;;
    text-decoration: none;
    font-size: 10pt;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
}

table th {
    padding: 15px 25px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:last-child td{
    border-bottom: 0;
}

table tr:last-child td:first-child{
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child{
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

.back{
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 10px;
}